html {
	height: 100%;
}

body {
	font-family: sans-serif;
	height: 100%;
	background-color: #f2e9d7;
	color: #303742;
	padding: 3%;
}

button {
	display: none;
}

#toc {
	display: none;
}

h1 {
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 10vh;
}

h2 {
	font-size: 30px;
	text-transform: uppercase;
	margin-top: 10vh;
	margin-bottom: 2vh;
	padding: 5%;
	color: #494031;
}

h3 {
	font-size: 30px;
	text-transform: uppercase;
	margin-top: 10vh;
	margin-bottom: 2vh;
	padding: 5%;
	color: #494031;
}

strong {
	color: #c46400;
}

a {
	text-decoration: none;
	color: #ff8300;
	pointer-events: auto;
}

strong:hover {
	color: #ff8300;
}

img {
	width: 100%;
	margin-bottom: 5vh;
}

p {
	line-height: 30px;
	font-size: 20px;
}

blockquote p:first-child::before {
	content: "'' ";
}

blockquote p:last-child::after {
	content: " ''";
}

blockquote > p {
	font-size: 20px;
	line-height: 27px;
	color: #c46400;
	font-weight: lighter;
}

blockquote {
	margin: 6vh 3vh 6vh 3vh;
}

ul {
	padding: 3vh;
	color: #c46400;
}