html {
	height: 100%;
}

body {
	font-family: sans-serif;
	height: 100%;
	background-color: #f2e9d7;
	color: #303742;
	margin: 0;
/*	padding: 3%;*/
}

#toc {
	position: fixed;
	padding: 0;
	margin: 0;
	width: 100%;
	z-index: 10;
	top: 0;
	height: 100vh;
	background-color: rgba(234, 230, 215, .95);
}

#back-to-top {
	display: none;
}

#toctitle {
	font-family: 'Zilla Slab', serif;
    margin: 2% 3% 0px 3%;
    text-align: center;
}

#line {
	height: 3px;
	background-color: #303742;
}

nav {
	height: 87%;
	overflow-y: scroll;
	font-size: 18px;
	line-height: 30px;
	font-weight: bolder;
    margin: 0px 3% 0px 3%;
    text-transform: uppercase;
    color: #303742;
}
/*
@media only screen and (max-width: 630px) {
	nav {
		font-size: 15px;
		line-height: 27px;
	}
}
*/
@media only screen and (max-width: 415px) {
	nav {
		font-size: 18px;
		line-height: 30px;
	}
}

#toc h2 {
	margin: 0 auto;
	padding: 0;
	text-align: left;
}

#toc ul {
	list-style-type: none;
	text-align: left;
	padding: 0;
	margin: 0;
}

#toc li {
	margin-bottom: 6px;
}

#toc i {
	float: right;
	margin: 3% 3% 0px 0px;
	font-size: 25px;
	color: #494031;
	transition: color .5s ease;
}

#toc i:hover {
	color: #c46400;
	cursor: pointer;
}

ul > li > ul > li {
	font-weight: lighter;
	margin-left: 5%;
}

#toc span {
	color: #303742;
	border-bottom: 2px solid #303742;
	margin-bottom: 3px;
	transition: color .5s ease;
	transition: border-bottom .5s ease;
	transition: margin-left .5s ease;
}

 #toc span:hover {
 	color: #c46400;
 	border-bottom: solid #c46400;
	margin-left: .5%;
 }

h1 {
	font-family: 'Zilla Slab', serif;
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 10vh;
	color: #494031;
}

@media only screen and (min-width: 768px) {
	h1 {
		font-size: 60px;
		line-height: 70px;
	}
}

h2 {
	font-family: 'Zilla Slab', serif;
	font-size: 35px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 15vh;
	margin-bottom: 2vh;
	padding: 5%;
	color: #494031;
}

@media only screen and (min-width: 768px) {
	h2 {
		font-size: 45px;
	}
}

h3 {
	font-family: 'Zilla Slab', serif;
	font-size: 25px;
	text-transform: uppercase;
	margin-top: 5vh;
	margin-bottom: 1vh;
	padding: 5%;
	color: #494031;
}

@media only screen and (min-width: 768px) {
	h3 {
		font-size: 35px;
	}
}

strong {
	color: #c46400;
}

a {
	text-decoration: none;
	color: #ff8300;
	pointer-events: auto;
}

strong:hover {
	color: #ff8300;
}

img {
	width: 100%;
	margin-bottom: 5vh;
}

p {
	line-height: 30px;
	font-size: 20px;
}

@media only screen and (min-width: 768px) {
	p {
		font-size: 25px;
		line-height: 38px;
	}
}

blockquote p:first-child::before {
	content: "'' ";
}

blockquote p:last-child::after {
	content: " ''";
}

blockquote > p {
	font-size: 15px;
	line-height: 22px;
	color: #c46400;
	text-align: center;
}

@media only screen and (min-width: 768px) {
	blockquote > p {
		font-size: 25px;
		line-height: 32px;
	}
}

blockquote {
	margin: 6vh 3vh 6vh 3vh;
}

/*ul {
	padding: 3vh;
	color: #c46400;
	transition: font-size line-height ease;
	will-change: font-size line-height;
}*/

/*@media only screen and (min-width: 768px) {
	ul {
		font-size: 20px;
		line-height: 30px;
	}
}
*/
@media only screen and (max-width: 600px) {
	h1 {

	}
}